{% extends "base.html" %}

{% block head_content %}
    <title>Create new post | Platzigram</title>
{% endblock %}

{% block container %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6 pt-3 pb-3" id="profile-box">
                <h4 class="mb-4">Post a new photo!</h4>

                <!-- Si no se define un action, va a enviar el formulario a la misma url donde está presentado -->
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <input type="hidden" name="user" value="{{ user.pk }}" />
                    <input type="hidden" name="profile" value="{{ profile.pk }}" />

                    <div class="form-group">
                        <label for="title">Title</label>
                        <input
                            type="text"
                            class="form-control {% if form.title.errors %}is-invalid{% endif %}"
                            name="title"
                            placeholder="Title" />
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="photo">Choose your photo:</label>
                        <input
                            type="file"
                            class="form-control {% if form.photo.errors %}is-invalid{% endif %}"
                            name="photo"
                            placeholder="Photo" />
                        <div class="invalid-feedback">
                            {% for error in form.photo.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-5">Publish!</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}